.backdrop
header.main-header
  svg.mobile-nav-toggler(fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px")
    path(d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z")
  nav.main-header__nav
    ul.main-header__item-list
      li.main-header__item
        a(href="/" tabIndex='-1' class=(path === '/' ? 'active' : '')) Shop
      li.main-header__item
        a(href="/products" tabIndex='-1' class=(path === '/products' ? 'active' : '')) Products
      li.main-header__item
        a(href="/cart" tabIndex='-1' class=(path === '/cart' ? 'active' : '')) Cart
      li.main-header__item
        a(href="/orders" tabIndex='-1' class=(path === '/orders' ? 'active' : '')) Orders
      li.main-header__item
        a(href="/admin/add-product" tabIndex='-1' class=(path === '/admin/add-product' ? 'active' : '')) Add Product
      li.main-header__item
        a(href="/admin/products" tabIndex='-1' class=(path === '/admin/products' ? 'active' : '')) Admin Products
nav.mobile-nav
  ul.mobile-nav__item-list
    li.mobile-nav__item
      a(href="/" tabIndex='-1' class=(path === '/' ? 'active' : '')) Shop
    li.mobile-nav__item
      a(href="/products" tabIndex='-1' class=(path === '/products' ? 'active' : '')) Products
    li.mobile-nav__item
      a(href="/cart" tabIndex='-1' class=(path === '/cart' ? 'active' : '')) Cart
    li.mobile-nav__item
      a(href="/orders" tabIndex='-1' class=(path === '/orders' ? 'active' : '')) Orders
    li.mobile-nav__item
      a(href="/admin/add-product" tabIndex='-1' class=(path === '/admin/add-product' ? 'active' : '')) Add Product
    li.mobile-nav__item
      a(href="/admin/products" tabIndex='-1' class=(path === '/admin/products' ? 'active' : '')) Admin Products
