.card__actions
  a.btn.btn--link.btn--card-action-btn(href=`/products/${product.productID}`) Details
  form.btn-form.btn-form--action(action='/cart' method='POST')
    button.btn-form__btn(type='submit') Add to Cart
    input(type='hidden' name='productID' value=`${product.productID}`)