extends ../layouts/main-layout

block styles
  link(rel="stylesheet" href='/css/cart.css')

block content
  main.container
    h1.centered Cart Page
    if cartProducts.length > 0
      ul.cart-list
        for product in cartProducts
          li.cart-item
            p.cart-item__title #{product.title} (#{product.cartItem.quantity})
            form.btn-form(action='/cart-delete-item' method='POST')
              input(type='hidden' name='id' value=`${product.id}`)
              button.btn--icon.btn-form__btn(type='submit')
                include ../includes/svg/cross
      hr
      .flex-row
        h3 Total $#{totalPrice}
        form.btn-form(action='/create-order' method='POST')
          button.btn-form__btn(type='submit') Create order
    else
      hr
      h3.centered Cart is empty
