extends ../layouts/main-layout

block content
  main
    h1.centered Orders page
    if orders.length > 0
      for order in orders
        h3 #{order.id}
        ul
          for product in order.products
            li #{product.title} (#{product.orderItem.quantity})
        hr
    else
      h1.centered No orders found
