extends ../layouts/main-layout

block content
  main.centered
    h1 #{product.title}
    hr
    div
      img(src=`${product.imageUrl}`)
    h2 $#{product.price}
    p #{product.description}
    form.btn-form(action='/add-to-cart' method='POST')
      button.btn-form__btn(type='submit') Add to Cart
